<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto ">
    <h1 class="display-4 fw-normal text-center">About</h1>
    <p class="fs-5 text-muted">
      There is a simple interactive UI for <a href="https://github.com/antonshell/placeholder-service" target="_blank">placeholder service</a>.
    </p>
    <p class="fs-5 text-muted">
      <a href="https://github.com/antonshell/placeholder-service" target="_blank">Placeholder service</a> can generate images with configurable width, height, custom text, colors. Supported png, jpeg, tiff formats.
      Service is self-hosted, opensource. Built with PHP, Symfony and PHP-GD library.
    </p>
    <p class="fs-5 text-muted">
      <a href="https://github.com/antonshell/placeholder-service-ui" target="_blank">Placeholder UI</a> provide interactive interface for generating images.
      Placeholder service UI is also self-hosted, opensource. Built with Angular and Twitter Bootstrap.
    </p>
  </div>
</header>
